* {
    margin: 0;
    font-family: 'Gowun Dodum', sans-serif;
    overflow-x: hidden;
}

body {
    display: grid;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.15);
    }
    44% {
        transform: scale(1);
    }
    66% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.bell:hover {
    animation: grow .5s ease-out forwards;
    fill: yellow;
}

.nav-1 {
    background-color: rgb(124, 118, 216);
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 70px;
    z-index: 5;
}

.nav-2 {
    background-color: rgb(71, 58, 88);
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 5fr;
    grid-template-rows: 70px;
}

.nav-2 div{
    height: 60px;
    width: 60px;
}

.homewrap {
    margin-left: 40px;
}

.nav-item1 {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.nav-item1 h1 {
    font-size: 25px;
    color:rgb(228, 227, 227);
    margin-top: 17px;
}

.nav-item1 h3 {
    font-size: 10px;
    margin-top: 20px;
    color: rgb(228, 227, 227);
}

.bell {
    margin-top: 0px;
    width: 50%;
    fill: rgb(228, 227, 227);
}

.bell-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: rgb(96, 238, 96);
    margin-top: 16px;
    margin-left: -3px;
}

.vl {
    width: 1px;
    height: 50px;
    background-color: rgb(185, 185, 185);
    margin-top: 10px;
  }

  .profile-pic {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-top: 15px;
  }

.nav-item2 {
    width: 50px;
    margin-right: -10px;
    display: flex;
    flex-direction: row;
}

.bell-wrapper h2 {
    font-size: 13px;
    margin-top: 30px;
    color: rgb(228, 227, 227);
}

/* nav-2 items/format */

.home {
    width: 68%;
    margin-top: 15px;
    fill: rgb(228, 227, 227);
}

.chart {
    width: 65%;
    margin-top: 15px;
    fill:rgb(228, 227, 227);
}

.members-icon {
    width: 70%;
    margin-top: 15px;
    fill:rgb(228, 227, 227);
}

.settings {
    width: 67%;
    margin-top: 14px;
    fill: rgb(228, 227, 227);
}

/* main content */

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.dashboard {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
}

.dashboard h2 {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
}

.empty {
    background-color: rgba(241, 241, 241, 0.925);
    height: 45px;
    width: 100%;
    border: solid rgb(218, 217, 217) 2px;
}

.alert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 34px;
    background-color: rgb(124, 118, 216);
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 8px;
    padding: 11px 0px 0px 0px;
    cursor: pointer;
}

.alert h3 {
    font-size: 17px;
    margin-left: 8px;
    color: white;
}

.x {
    color: white;
    margin-right: 8px;
    text-decoration: none;
    font-size: 17px;
}

.main-content h4{
margin-top: 30px;
margin-left: 5%;
}

.buttons {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr;
    grid-template-rows: 1fr;
    padding-top: 5px;
}

.buttons :nth-child(1){
background-color: rgb(107, 189, 107);
height: 35px;
width: 70px;
border: none;
border-radius: 17px;
font-size: 16px;
margin-left: 15px;
color: rgb(240, 239, 239);
}

.buttons :nth-child(2), .buttons :nth-child(3), .buttons :nth-child(4){
    background-color: transparent;
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    }

.buttons :nth-child(4) {
    margin-left: 5px;
}

.graph {
    background-color: brown;
    height: 120px;
    width: 100%;
    margin-top: 25px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 15px;
}

h5 {
    font-size: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.bars {
    background-color: brown;
    height: 150px;
    width: 100%;
    margin-top: 25px;
}

.pie {
    background-color: brown;
    height: 150px;
    width: 100%;
    margin-top: 25px;
}

.social-wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr;
    background-color: rgb(229, 226, 226);
    height: 90px;
    width: 90%;
    margin-top: 5px;
    margin-left: 15px;
    border: solid 2px lightgray;
    border-radius: 5px;
}

.facebook-icon {
    width: 57%;
    fill: white;
    margin-left: 0px;
    margin-top: 13px;
}

.instagram-icon {
    width: 57%;
    fill: white;
    margin-left: 0px;
    margin-top: 13px;
}

.twitter-icon {
    width: 57%;
    fill: white;
    margin-left: 0px;
    margin-top: 13px;
}

.purple-circle {
    background-color: rgba(70, 68, 184, 0.788);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 23px;
    z-index: 1;
    text-align: center;
}

.numbers {
    margin-top: 15px;
    margin-left: 10px;
}

.numbers h3 {
font-size: 17px;
}

.numbers h2 {
    font-size: 40px;
    margin-top: -8px;
}


.member1 img, .member2 img, .member3 img, .member4 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.member1, .member2, .member3, .member4 {
    text-align: center;
    margin-top: 18px;
}

.user-search {
    height: 35px;
    width: 86%;
    margin-top: 15px;
    margin-left: 7%;
    border-radius: 7px;
    border: solid 2px lightgray;
    background-color: rgba(240, 238, 238, 0.829);
}

.user-search::placeholder {
    color: rgb(184, 184, 184);
}

#text {
    width: 86%;
    margin-top: 15px;
    margin-left: 7%;
    border-radius: 7px;
    border: solid 2px lightgray;
    background-color: rgba(240, 238, 238, 0.829);
}

#text::placeholder {
    color: rgb(184, 184, 184);
}

.send-button {
    height: 41px;
    width: 88.5%;
    margin-top: 15px;
    margin-left: 7%;
    border-radius: 5px;
    color: white;
    background-color: rgba(70, 68, 184, 0.788);
    font-size: 15px;
}

.sent {
    width: 95%;
    margin-left: 15px;
    background-color: green;
    color: white;
    display: none;
    margin-top: 17px;
    padding-left: 7px;
}

.error {
    width: 95%;
    margin-left: 15px;
    background-color: red;
    color: white;
    display: none;
    margin-top: 17px;
    padding-left: 7px;
}

.onoffswitch {
    position: relative; width: 85px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 4px 6px 6px 6px;
    height: 20px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 50%;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.email-noties, .public {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.email-noties p {
    margin-top: 6px;
    margin-right: 42px;
    margin-left: 15px;
}

.public p {
    margin-top: 6px;
    margin-right: 74.4px;
    margin-left: 15px;
}

.timezones {
    width: 88%;
    margin-left: 5%;
    height: 30px;
    margin-top: 15px;
}

.save-cancel {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.save-button {
    height: 35px;
    width: 137px;
    background-color:  rgba(70, 68, 184, 0.788);
    border-radius: 5px;
    color: white;
    margin-left: 17px;
}

.cancel-button {
    height: 35px;
    width: 137px;
    background-color: grey;
    border-radius: 5px;
    color: white;
    margin-left: 15px;
}

.lineChart, .barChart, .doughChart {
    width: 90%;
    height: 200px;
    margin-left: 15px;
}

@media screen and (min-width: 768px) {

    body {
        grid-template-columns: 1fr 20fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        'nav-1 nav-1'
        'nav-2 main'
        ;
    }

    .nav-1 {
        display: grid;
        grid-template-columns:8fr 3fr;
        grid-area: nav-1;
    }

    .dashboard {
        grid-template-columns: 1fr 5fr;
    }

    .buttons-wrap {
        display: grid;
        grid-template-columns: 6fr 5fr;
        grid-template-rows: 1fr;
    }

    .buttons {
        margin-top: 10px;
        margin-right: 5px;
    }

    .buttons-wrap h4 {
        margin-top: 20px;
        margin-left: 15px;
    }

    .bell-wrapper h2 {
        margin-top: 26px;
    }

    .mainwrap {
        display: flex;
        flex-direction: row;
    }

    .nav-2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 25fr;
        width: 55px;
        height: 100%;
        padding-left: 15px;
       grid-area: nav-2;
    }

    .homewrap {
        margin-left: 0px;
    }

    .main-content {
        grid-area: main;
    }

    .alert {
        width: 95.5%;
    }

    .lineChart {
        width: 95%;
    }

    .twocharts {
        display: flex;
        flex-direction: row;
    }

    .specificline {
        height: 100%;
        width: 2px;
        margin-top: 0px;
    }

    .bottomline {
        margin-top: 0px;
    }

    .barChart, .doughChart {
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .barwrap {
        width: 50%;
    }

    .doughwrap {
        width: 50%;
    }

    .socialwrapwrap {
        display: flex;
        flex-direction: row;
    }

    .social-wrapper {
        width: 30%;
    }

    .purple-circle {
        margin-left: 10px;
    }

    .numbers h2 {
        font-size: 35px;
        margin-top: -8px;
    }

    .member {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 1fr;
        text-align: left;
    }

    .member img {
        margin-left: 15px;
    }

    .member p {
        margin-top: 15px;
        overflow: hidden;
    }

    .member-name {
        margin-top: 5px;
        margin-left: 10px;
    }

    .member-name p {
        margin-top: -5px;
    }

    .recent-act-info {
        margin-left: 15px;
    }

    .recent-act-info :nth-child(2){
        margin-top: -5px;
    }

    .symbol, .symbol2, .symbol3, .symbol4 {
        margin-top: 15px;
        margin-right: 10px;
        text-align: right;
    }

    .user-search {
        margin-left: 15px;
        width: 95%;
    }

    #text {
        margin-left: 15px;
        width: 95%;
    }

    .send-button {
        margin-left: 15px;
        width: 96%;
    }

    .timezones {
        margin-left: 15px;
        width: 95%;
        margin-top: 40px;
    }

    .save-cancel {
        margin-left: 15px;
        width: 96%;
    }

    .save-button, .cancel-button {
        margin-left: 0px;
        width: 50%;
    }

    .cancel-button {
        margin-left: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .lineChart{
        height: 300px;
    }

    .alert {
        width: 97.5%;
    }

    .nav-2{
        grid-template-rows: 1fr 1fr 1fr 17fr;
    }

    .dashboard {
        grid-template-columns: 1fr 7fr;
    }

    .buttons-wrap {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    .buttons-wrap h4 {
        margin-top: 20px;
        margin-left: 15px;
    }

    .buttons {
        margin-top: 12px;
        grid-template-columns:1fr 1fr 1fr 1fr ;
        margin-right: 5px;
    }

    .memberswrap {
        display: grid;
        grid-template-columns: 60fr 1fr 60fr;
        grid-template-rows: 1fr;
    }

     .member {
        grid-template-columns:1fr 4fr 2fr ;
     }

     .date{
        text-align: right;
        margin-right: 10px;
     }

     .recent-act-info {
         margin-top: -12px;
         line-height: 20px;
     }

     .memline {
         width: 95%;
         margin-left: 15px;
     }

     .midline {
         height: 100%;
         width: 2px;
         margin-left: 5px;
         margin-top: 0px;
     }

     .member4 {
        margin-bottom: 15px;
     }

     .mem-set-divider {
         margin: 0;
     }

     .settings-wrap {
         display: grid;
         grid-template-columns: 60fr 1fr 60fr;
         grid-template-rows: 1fr;
         margin-left: 0px;
     }

     .settingsmid {
        height: 100%;
        width: 2px;
        margin-left: 5px;
        margin-top: 0px;
     }

     .public {
         margin-top: 35px;
     }

     .save-cancel {
         margin-top: 21px;
         width: 95%;
     }

     .timezones {
         margin-top: 50px;
         height: 37px;
         width: 93.5%;
     }

     .save-button, .save-cancel {
         height: 41px;
     }

     .email-noties {
         margin-top: 20px;
     }

     .user-search {
         width: 93.5%;
     }

     #text {
        width: 93.5%;
    }
}